@import "../../style.scss";

.navBar{
    @include themify($themes){
    position: sticky;
    top: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 10px 20px;
    height: 50px;
    border-bottom: 1px solid themed("border");
    background-color: themed("bg");
    color: themed("textColor");
    z-index: 999999;

    .left{
        display: flex;
        align-items: center;
        gap: 20px;


        .icons {
            display: flex;
            justify-content: flex-end;
            @include mobile{
                display: none;
                }
                
        }

        span{
            font-weight: bold;
            color: themed("logo");
            
        
        }
        .search{
            display: flex;
            align-items: center;
            gap: 10px;
            border: 1px solid themed("border");
            padding: 5px;
            position: relative;
            @include mobile{
             display: none;
            }

            input{
                border: none;
                width: 500px;
                background-color: transparent;
                color: themed("textColor");

                @include mobile{
                    display: none;
                    
                }
            }
        }
     }
    .right{
        display: flex;
        align-items: center;
        gap: 20px;
        

        @include mobile{
            display: none;
            
        }
        .user{
            display: flex;
            align-items: center;
            gap: 10px;
            
            img{
                width: 30px;
                border-radius: 50%;
                object-fit: cover;
                height: 30px;
            }
                

            span{
                font-weight: 500;
            }

        }
        

    }
}
}